.loadingWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
}

.displayWrapper {
  display: flex;
  flex-direction: column;
  padding: 100px 40px;
  max-width: 400px;
  margin: 0 auto;
}

.passwordWrapper {
  position: relative;
  width: 100%;
}

.visibilityWrapper {
  position: absolute;
  top: 0;
  height: 55px;
  display: flex;
  align-items: center;
  right: 20px;
}

.visibilityIcon{
  cursor: pointer;
}

.userData{
  color: grey;
  margin-top: 20px;
}