.total {
  padding: 1em 1em;
  margin: 2em;
}

.flexBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.additions {
  padding: 0.5em;
  margin-bottom: 1em;
  background-color: rgba(238, 238, 238, 0.5);
}

.checkout {
  width: 100%;
}

h4 {
  margin: 0 0 1em 0;
}
