.filter {
  border: 1px solid rgba(175, 175, 175, 0.471);
  border-radius: 1em;
  padding-right: 1.5em;
  margin-left: 5em;
  height: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.filterItem {
  margin-bottom: 2em;
}
