body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* HELPERS */
.flex {
  display: flex;
}
a { 
  text-decoration: none; 
}

.custom-product-card {
  max-height: 350px !important;
  min-height: 350px !important;
}

.MuiCardMedia-root{
  object-fit: contain !important;
  transition: transform .2s !important;
}
.MuiCardMedia-root:hover{
  transform: scale(1.2) !important;
  cursor: pointer !important;
}

.product-info-wrapper{
  height: 110px !important;

}
.flex-direction-product-card{
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}